@tailwind base;

.directory-divide-y > li:not(:last-child):after {
  content: '';
  display: block;
  width: calc(100% - 24px);
  transform: translateX(24px);
  height: 1px;
  background: #333333;
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
header {
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: 1rem;
      a {
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
